<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
        <table border="1" th:if="${member} != null">
        <tr>
            <th>ユーザID</th>
            <th>ユーザ名</th>
            <th>パスワード</th>
        </tr>
        <tr>
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.password}"></td>
        </tr>
        </table>
        <div th:if="${member} == null">レコードがありません。</div>
    </body>
</html>